<div class="container">
  <div class="profile br10">
    <div class="title br10">
      <div *ngIf="userRole === 'Administrator'" routerLink="/admin/edit-employee/{{currentUser?.id}}" class="edit"><img src="/assets/img/edit.png"></div>
      <p class="text-big text-bold">My Profile</p>
    </div>

    <div class="user-title">
      <img *ngIf="currentUser?.avatar; else nonUserImage" src="{{currentUser?.avatar}}">
      <ng-template #nonUserImage>
        <img src="./assets/img/user.png">
      </ng-template>

      <div class="user-title_inform">
        <h3 class="text-big">{{currentUser.firstName}}  {{currentUser.surname}}</h3>
        <p class="text-middle">{{userRole}}</p>
        <p *ngIf="currentUser?.isActive; else inActive"><span class="green-round"></span> active</p>
        <ng-template #inActive>
          <p><span class="red-round"></span> inactive</p>
        </ng-template>
      </div>
    </div>

    <div>
      <div class="simple-inform-block">
        <p class="text-small">date od birth</p>
        <p class="text-middle">{{currentUser?.birthdate | date: 'd MMMM yyyy'}}</p>
      </div>
      <div class="simple-inform-block">
        <p class="text-small">personal email</p>
        <p class="text-middle">{{currentUser?.email}}</p>
      </div>
      <div class="simple-inform-block">
        <p class="text-small">work email</p>
        <p class="text-middle">{{currentUser?.workEmail}}</p>
      </div>
      <div class="simple-inform-block">
        <p class="text-small">phone number</p>
        <p class="text-middle">{{currentUser?.phone | phoneNumber}}</p>
      </div>
      <div class="simple-inform-block">
        <p class="text-small">skype</p>
        <p class="text-middle">{{currentUser?.skype}}</p>
      </div>
      <div class="simple-inform-block">
        <p class="text-small">hire date</p>
        <p class="text-middle">{{currentUser?.workStartDate | date: 'd MMMM yyyy'}} -
          <span *ngIf="currentUser?.workEndDate; else noDateEnd">{{currentUser?.workEndDate | date: 'd MMMM yyyy'}}</span>
          <ng-template #noDateEnd>
            <span>Nowadays</span>
          </ng-template>
        </p>
      </div>
      <div class="simple-inform-block">
        <p class="text-small">team name</p>
        <p class="text-middle"*ngIf="currentUser?.teams.length > 0; else noTeam">{{currentUser?.teams[0].name}}</p>
        <ng-template #noTeam>
          <p class="text-middle">No Team</p>
        </ng-template>
      </div>
      <div class="simple-inform-block">
        <p class="text-small">team leader</p>
        <p class="text-middle" *ngIf="currentUser?.teams.length > 0; else noTeamLeader">
          {{currentUser?.teams[0].teamLeadName}}
        </p>
        <ng-template #noTeamLeader>
          <p class="text-middle">No Team Leader</p>
        </ng-template>
      </div>
    </div>

  </div>

  <div class="block-right">
    <router-outlet></router-outlet>
  </div>
</div>
