<header>
  <div class="block-logo">
    <img src="/assets/img/x33.png">
    <h3 class="text-big"><span class="text-bold">SOFTHEME</span> VACATIONS</h3>
  </div>

  <nav>
    <div routerLinkActive="active-link">
      <a class="text-big" routerLink="/profile/view" routerLinkActive="active-link">
        <span>My Profile</span>
      </a>
    </div>
    <div routerLinkActive="active-link">
      <a class="text-big" routerLink="/profile/request-vacation/{{currentUser.id}}" routerLinkActive="active-link" *ngIf="currentUser">
        <span>Request Vacation</span>
      </a>
    </div>
  </nav>


  <div class="block-user" *ngIf="currentUser">
    <p class="text-middle-plus">
      {{currentUser.firstName}} {{currentUser.surname}}</p>
    <img *ngIf="currentUser.avatar; else defaultAvatar" src="{{currentUser.avatar}}">
    <ng-template #defaultAvatar>
      <img  src="./assets/img/user.png">
    </ng-template>
    <div (click)="logout()" class="dropdown-content">
      <p>Log Out </p>
    </div>
  </div>
</header>
