<header>
  <div class="block-logo">
    <img src="/assets/img/x33.png">
    <h3 class="text-big"><span class="text-bold">SOFTHEME</span> VACATIONS</h3>
  </div>

  <nav>
    <div><a class="text-big" routerLink="/profile/view" routerLinkActive="active-link"><span>My Profile</span></a></div>
    <div><a class="text-big" routerLink="/profile/request-vacation" routerLinkActive="active-link"><span>Request Vacation</span></a></div>
  </nav>

  <div class="block-user">
    <p class="text-middle-plus">User Name</p>
    <img src="/assets/img/random-user_imageF39.png">
  </div>
</header>
