<div class="current-user_vacations br10">
  <div class="title">
    <p class="text-big text-bold">List of Employees</p>
    <div class="filter-block">
      <input type="text" placeholder="Find...">
      <input type="text" placeholder="Status">
      <select>
        <option>Пункт 1</option>
        <option>Пункт 2</option>
      </select>
      <input type="text" placeholder="Sort by">
    </div>
  </div>

  <table>
    <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th>phone number</th>
      <th>work email</th>
      <th>vacation balance</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>flag</th>
      <th class="team text-white text-middle">Team Name</th>
      <th></th>
      <th></th>
      <th></th>
      <th class="text-middle"><img src="/assets/img/visible.svg"></th>
      <th class="text-middle"><img src="/assets/img/edit.png"></th>
    </tr>
    <tr>
      <th></th>
      <th class="text-white text-middle">Name Surname</th>
      <th class="text-middle text-grey">+38 00 000 00 00</th>
      <th class="text-middle text-grey">work@email.com</th>
      <th class="text-white text-middle">XX days</th>
      <th class="text-middle"><img src="/assets/img/visible.svg"></th>
      <th class="text-middle"><img src="/assets/img/edit.png"></th>
    </tr>
    <tr>
      <th></th>
      <th class="text-white text-middle">Name Surname</th>
      <th class="text-middle text-grey">+38 00 000 00 00</th>
      <th class="text-middle text-grey">work@email.com</th>
      <th class="text-white text-middle">XX days</th>
      <th class="text-middle"><img src="/assets/img/visible.svg"></th>
      <th class="text-middle"><img src="/assets/img/edit.png"></th>
    </tr>
    <tr>
      <th></th>
      <th class="text-white text-middle">Name Surname</th>
      <th class="text-middle text-grey">+38 00 000 00 00</th>
      <th class="text-middle text-grey">work@email.com</th>
      <th class="text-white text-middle">XX days</th>
      <th class="text-middle"><img src="/assets/img/visible.svg"></th>
      <th class="text-middle"><img src="/assets/img/edit.png"></th>
    </tr>

    </tbody>
  </table>
</div>

<div class="pagination">
  <div class="pagination-url br5">
    <a class="text-middle-plus active" href="#">1</a>
    <a class="text-middle-plus" href="#">2</a>
    <a class="text-middle-plus" href="#">3</a>
    <a class="text-middle-plus" href="#">4</a>
    <a class="text-middle-plus" href="#">5</a>
  </div>

  <div class="next">
    <p class="text-middle">NEXT</p>
    <img src="/assets/img/next.svg">
  </div>
</div>
