<form [formGroup]="forgotForm" (ngSubmit)="onSubmitForgotten()">
  <div class="help-text">
    Enter your email address and we’ll send you a link to reset your password
  </div>

  <input type="text" name="email" placeholder="email" class="email" formControlName="email">
  <div class="error-block">
    <div *ngIf="forgotForm.get('email').invalid && forgotForm.get('email').touched">
      <small *ngIf="forgotForm.get('email').errors.required && forgotForm.get('email').touched">Field is not be empty. </small>
      <small *ngIf="forgotForm.get('email').touched && forgotForm.get('email').errors.email">It's not a valid email. </small>
    </div>
  </div>
  <div class="email-checked-block">
    <small *ngIf="goodSendMailForForgotPassword" class="email-checked-text">
      <img src="assets/img/group-check-mail.png">
      Ready! Check your email, please.
    </small>
  </div>
  <button class="submit-btn send-btn" type="submit" [disabled]="forgotForm.invalid" [ngClass]="{'submit-btn_blocked': forgotForm.invalid, 'submit-btn_unblocked': forgotForm.valid}">SEND</button>
</form>

<div class="btn-change-form" routerLink="/auth/login" >Never mind, I remember</div>
