<div class="current-user_vacations-request br10">
  <div class="title">
    <p class="text-big text-bold">Edit Profile</p>
  </div>

  <form [formGroup]="editForm">
<!--    first group-->
    <div class="block">
      <div>
        <label class="text-small">name</label>
        <input type="text" placeholder="Name">
      </div>
      <div>
        <label class="text-small">surname</label>
        <input type="text" placeholder="Surname">
      </div>
      <div>
        <label class="text-small">job title</label>
        <select name="vacation_type">
          <option value="0" selected>Job Title</option>
          <option value="1">Other Title</option>
        </select>
      </div>
      <div>
        <label class="text-small">status</label>
        <select name="vacation_type">
          <option value="0" selected>Active</option>
          <option value="1">Inactive</option>
        </select>
      </div>
      <div>
        <label class="text-small">days in vacation</label>
        <input type="number" min="0">
      </div>
    </div>

    <div>
      <div class="block-inner">
        <div>
          <label>from</label>
          <input type="text" placeholder="XX/XX/XXXX">
        </div>
        <div>
          <label>to</label>
          <input type="text" placeholder="XX/XX/XXXX">
        </div>
      </div>
    </div>


    <div class="button-block">
      <button class="btn-cancel" (click)="cancel()">CANCEL</button>
      <button type="submit" class="btn-standart" (click)="sendRequestVacation()">SAVE CHANGES</button>
    </div>
  </form>
</div>
