<div class="edit-user_request br10">
  <div class="title">
    <p class="text-big text-bold">Edit Profile</p>
  </div>

  <form [formGroup]="editForm">
<!--    first group-->
    <div class="block-first">

      <div class="photo-img">
        <img src="{{user?.avatar ? user.avatar : '/assets/img/user.png'}}">
        <button type="file" class="input-file">EDIT PHOTO</button>
      </div>

      <div>
        <label class="text-small">name</label>
        <input type="text" placeholder="Name" formControlName="firstName">
      </div>
      <div>
        <label class="text-small">surname</label>
        <input type="text" placeholder="Surname" formControlName="surname">
      </div>
      <div>
        <label class="text-small">job title</label>
        <select name="vacation_type" formControlName="jobTitle">
          <option value="0" selected>Job Title</option>
          <option value="Account Manager">Account Manager</option>
          <option value="Team Leader">Team Leader</option>
          <option value="Administrator">Administrator</option>
        </select>
      </div>
      <div>
        <label class="text-small">status</label>
        <select name="vacation_type" formControlName="isActive">
          <option value="true">Active</option>
          <option value="false">Inactive</option>
        </select>
      </div>
      <div>
        <label class="text-small">days in vacation</label>
        <input type="number" min="0" placeholder="Enter days" formControlName="balance">
      </div>
    </div>

    <div class="second-block">
      <div class="block-inner">
        <div>
          <label class="text-small">date of birth</label>
          <input type="text" placeholder="XX/XX/XXXX" formControlName="birthdate">
        </div>
        <div>
          <label class="text-small">personal mail</label>
          <input type="text" placeholder="example@mail.com" formControlName="email">
        </div>
        <div>
          <label class="text-small">work mail</label>
          <input type="text" placeholder="example@softheme.com" formControlName="workEmail">
        </div>
        <div>
          <label class="text-small">phone number</label>
          <input type="text" placeholder="+380 12 345 67 89" formControlName="phone">
        </div>
        <div>
          <label class="text-small">skype</label>
          <input type="text" placeholder="userskype" formControlName="skype">
        </div>
      </div>

      <div class="block-inner">
        <div>
          <label class="text-small">hire date</label>
          <input type="text" placeholder="XX/XX/XXXX" formControlName="workStartDate">
        </div>
        <div>
          <label class="text-small">date of dismissal</label>
          <input type="text" placeholder="Not Chosen" formControlName="workEndDate">
        </div>


        <div>
          <label class="text-small">team name</label>
          <select name="vacation_type" formControlName="teamId">
            <option value="0" selected>Select Team</option>
            <option *ngFor="let team of teams" value="{{team.id}}">{{team.name}}</option>
          </select>
        </div>
        <div>
          <label class="text-small">team leader</label>
          <select name="vacation_type">
            <option value="0" selected>Team Leader One</option>
            <option *ngFor="let user of users" value="{{user.id}}">{{user.firstName}} {{user.surname}}</option>
          </select>
        </div>

      </div>

      <div class="button-block">
        <button class="btn-cancel" (click)="cancel()">CANCEL</button>
        <button type="submit" class="btn-standart" (click)="sendRequestVacation()">SAVE CHANGES</button>
      </div>
    </div>
  </form>
</div>
