<div class="current-user_vacations br10">
  <div class="title">
    <p class="text-big text-bold">List of Employees</p>

    <div class="filter-block">
      <input type="text" placeholder="Find...">
      <select>
        <option value="0">Status</option>
        <option value="1">Status 1</option>
        <option value="2">Status 2</option>
      </select>
      <select>
        <option value="0">Sort by</option>
        <option value="1">Name</option>
        <option value="3">Vacation balance</option>
      </select>
    </div>
  </div>

  <table>
    <thead>
    <tr>
      <th></th>
      <th class="left-align text-small">name</th>
      <th class="text-small">phone number</th>
      <th  class="text-small">work email</th>
      <th class="right-align text-small">vacation balance</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
<!--      <tr>-->
<!--        <td></td>-->
<!--        <td class="text-white text-middle left-align">Name Surname</td>-->
<!--        <td class="text-middle text-grey">+38 00 000 00 00</td>-->
<!--        <td class="text-middle text-grey">work@email.com</td>-->
<!--        <td class="text-white text-middle right-align">XX days</td>-->
<!--        <td class="text-middle"><img src="/assets/img/visible.svg"></td>-->
<!--        <td class="text-middle"><img src="/assets/img/edit.png"></td>-->
<!--      </tr>-->

      <!-- ToDo List of employees, not good but work  -->
      <ng-container  *ngFor="let employee of employees; index as i">
        <tr *ngIf="i == 0">
          <td class="flag"><img src="/assets/img/team-name.svg"></td>
          <td class="team text-white text-middle left-align">Team Name</td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-middle"><img src="/assets/img/visible.svg"></td>
          <td class="text-middle"><img src="/assets/img/edit.png"></td>
        </tr>
        <tr *ngIf="employee.teamId !== employees[(i == 0 ? i : i - 1)].teamId">
          <td class="flag"><img src="/assets/img/team-name.svg"></td>
          <td class="team text-white text-middle left-align">Team Name</td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-middle"><img src="/assets/img/visible.svg"></td>
          <td class="text-middle"><img src="/assets/img/edit.png"></td>
        </tr>
        <tr>
          <td></td>
          <td class="text-white text-middle left-align">{{employee?.firstName + ' '}}{{employee?.surname}}</td>
          <td class="text-middle text-grey">{{employee?.phone | phoneNumber}}</td>
          <td class="text-middle text-grey">{{employee.workEmail ? employee.workEmail : 'No work email'}}</td>
          <td class="text-white text-middle right-align">{{employee.balance}} {{employee.balance > 1 ? 'days' : 'day'}}</td>
          <td class="text-middle"><img src="/assets/img/visible.svg"></td>
          <td class="text-middle" [routerLink]="['/admin/edit-employee/', employee.id]"><img src="/assets/img/edit.png"></td>
        </tr>
      </ng-container>

      <!-- See this block if no data in employees -->
      <tr *ngIf="employees.length === 0">
        <td class="flag"></td>
        <td class="text-white text-middle left-align">No information</td>
        <td class="text-middle text-grey"></td>
        <td class="text-middle text-grey"></td>
        <td class="text-white text-middle right-align"></td>
        <td class="text-middle"></td>
        <td class="text-middle"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="pagination">
  <div class="pagination-url br5">
    <a class="text-middle-plus active" href="#">1</a>
    <a class="text-middle-plus" href="#">2</a>
    <a class="text-middle-plus" href="#">3</a>
    <a class="text-middle-plus" href="#">4</a>
    <a class="text-middle-plus" href="#">5</a>
  </div>

  <div class="next">
    <p class="text-middle">NEXT</p>
    <img src="/assets/img/next.svg">
  </div>
</div>
