.container {
  padding: 5px;
  display: flex;
  //justify-content: center;

  .profile {
    width: 350px;
    min-width: 280px;
    border: 1px solid var(--color-grey);
    background-color: var(--color-darkgrey);

    margin-right: 5px;
    padding-bottom: 35px;

    .title {
      padding-left: 30px;
      padding-top: 11px;
      padding-bottom: 11px;
      background-color: var(--color-dark);

      .edit {
        float: right;
        padding-right: 10px;
      }
    }

    .user-title {
      border-top: 1px solid var(--color-grey);
      border-bottom: 1px solid var(--color-grey);

      img {
        max-height: 82px;
        width: 82px;
        object-fit: cover;
        border-radius: 50%;
        margin: 30px 5px 20px 30px;
      }

      .user-title_inform {
        display: inline-block;
        vertical-align: top;
        padding-top: 40px;

        .text-big {
          width: 160px;
          //white-space: pre-wrap;
          //white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
          word-wrap: break-word;
        }

        .green-round {
          display: inline-block;
          height: 8px;
          width: 8px;
          border-radius: 50%;
          background-color: var(--color-green);
        }

        .red-round {
          display: inline-block;
          height: 8px;
          width: 8px;
          border-radius: 50%;
          background-color: var(--color-red);
        }
      }

      & div p {
        color: var(--color-grey);
      }
    }

    .simple-inform-block {
      padding-top: 20px;
      padding-left: 30px;

      .text-small {
        color: var(--color-grey);
        padding-bottom: 4px;
      }
    }

  }

  .block-right {
    width: 100%;
  }
}
