
<div class="current-user_vacations br10">
  <div class="title">
    <p class="text-big text-bold">List of Vacation Requests</p>
  </div>

  <table>
    <thead>
    <tr>
      <th>name</th>
      <th>team</th>
      <th>vacation dates</th>
      <th>amount of days</th>
      <th>vacation balance</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let vacation of vacations">
      <th class="name text-middle">{{vacation.employee.firstName}} {{vacation.employee.surname}}</th>
      <th class="team text-middle">
        <span *ngIf="vacation.employee.teams; else noTeam">{{vacation.employee.teams[0].name}}</span>
        <ng-template #noTeam>
          No Team
        </ng-template>
      </th>
      <th class="dates text-middle">{{vacation.startDate | date: 'd MMM yyyy'}} - {{vacation.startDate | date: 'd MMM yyyy'}}</th>
      <th class="amount text-middle">{{vacation.startDate | amountOfDays: vacation.endDate}}</th>
      <th class="balance text-middle">{{vacation.employee.balance}} days</th>
      <th class="x text-middle">
        <span [ngClass]='{
          unconfirmed: vacation.status === 0,
          approve: vacation.status === 1,
          refuse: vacation.status === 2
          }'></span>
      </th>
    </tr>
    <tr *ngIf="!vacations">
      <th class="name text-middle">No vacations</th>
      <th class="team text-middle"></th>
      <th class="dates text-middle"></th>
      <th class="amount text-middle"></th>
      <th class="balance text-middle"></th>
      <th class="x text-middle"></th>
    </tr>


    </tbody>
  </table>
</div>

<div class="pagination">
  <div class="pagination-url br5">
    <a class="text-middle-plus active" href="#">1</a>
    <a class="text-middle-plus" href="#">2</a>
    <a class="text-middle-plus" href="#">3</a>
    <a class="text-middle-plus" href="#">4</a>
    <a class="text-middle-plus" href="#">5</a>
  </div>

  <div class="next">
    <p class="text-middle">NEXT</p>
    <img src="/assets/img/next.svg">
  </div>
</div>

<div id="myModal" class="modal" [ngClass]="{'show' : show, 'hidden': !show}">
  <app-vacation-request-approve-refuse class="modal-content"></app-vacation-request-approve-refuse>
</div>

<button id="myBtn" (click)="showModal()">Open Modal</button>
