<div class="billboard br10 ta-c">
  <h2>{{currentUser?.balance}}</h2>
  <p *ngIf="currentUser?.balance !== 1; else oneDay" class="text-big-plus">days available</p>
  <ng-template #oneDay>
    <p class="text-big-plus">day available</p>
  </ng-template>
  <button class="btn-standart" routerLink='/profile/request-vacation/{{currentUser?.id}}'>REQUEST VACATION</button>
</div>


<div class="current-user_vacations br10">
  <div class="title">
    <p class="text-big text-bold">My Profile</p>
  </div>

  <table>
    <thead>
    <tr>
      <th>vacations dates</th>
      <th>descriptions</th>
      <th>status</th>
      <th>vacation balance</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let vacation of vacations">
      <th class="dates text-middle">{{vacation.startDate | date: 'd MMM yyyy' }} - {{vacation.endDate | date: 'd MMM yyyy' }}</th>
      <th class="description text-middle">Vacation</th>
      <th class="status text-middle"
          [ngClass]='{
              denied: vacation.status === 2,
              approved: vacation.status === 1
            }'
      >
        <!--          ToDo Bad code, change to pipe-->
        {{vacation.status === 0 ? 'Unconfirmed' : vacation.status === 1 ? 'Approved' : 'Denied'}}
      </th>
      <!-- ToDo Bad code, change to pipe (vacation balance)-->
      <th class="balance text-middle">{{vacation.startDate | amountOfDays: vacation.endDate }}</th>
    </tr>
    <tr *ngIf="!vacations">
      <th class="dates text-middle">No information</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </tbody>
  </table>
</div>
