.billboard {
  border: 1px solid var(--color-grey);
  background-color: var(--color-darkgrey);
  margin-bottom: 5px;
  padding-top: 35px;
  //height: 200px;
  min-width: 450px;
  background-image: url('/assets/img/billboard.png');
  background-repeat: no-repeat;
  background-position: center;

  & h2 {
    font-size: 46px;
    line-height: 58px;
    font-weight: 800;
  }

  & p {
    margin-bottom: 30px;
  }
}

.current-user_vacations-request {
  border: 1px solid var(--color-grey);
  background-color: var(--color-darkgrey);

  .title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 30px;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: var(--color-dark);
  }

  form {
    width: 100%;
    border-top: 1px solid var(--color-grey);
    padding: 30px;


    input, select, textarea {
      border: 0px;
      width: 250px;
      height: 45px;
      border-radius: 5px;

      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;

      padding-left:10px;
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0.1);
      background-repeat:no-repeat;
      background-position: 10px 17px;
    }

    button {
      transition: 0.3s;
      &:hover {
        box-shadow: 0 0 5px 0 white;
      }
    }
  }
}
