<div class="billboard br10 ta-c">
  <h2>18</h2>
  <p class="text-big-plus">days available</p>
</div>


<div class="current-user_vacations-request br10">
  <div class="title">
    <p class="text-big text-bold">My Profile</p>
  </div>

  <form [formGroup]="requestVacation">
    <div class="block">
      <div>
        <label>vacation type</label>
        <select name="vacation_type" formControlName="vacationType">
          <option value="0" selected>Vacation</option>
          <option value="1">University</option>
        </select>
      </div>

      <div>
        <label>comment</label>
        <textarea
          name="message"
          rows="10" cols="30"
          placeholder="Enter your comment here"
          formControlName="vacationComment"
        ></textarea>
      </div>
    </div>

    <div class="block">
      <div>
        <label>from</label>
        <input
          type="text"
          placeholder="XX/XX/XXXX"
          formControlName="vacationDataFrom"
          #dateFrom
        >
      </div>

      <div>
        <label>to</label>
        <input
          type="text"
          placeholder="XX/XX/XXXX"
          formControlName="vacationDataTo"
          #dateTo
        >
      </div>

      <div>
        <label>amount</label>
        <div class="amount">
          <div class="days br5" #amount>{{dateFrom.value | amountDate: dateTo.value}}</div>
          <div> days in vacation</div>
        </div>
      </div>
    </div>

    <div class="button-block">
      <button class="btn-cancel" (click)="clickCancel()">CANCEL</button>
      <button type="submit" class="btn-standart" (click)="sendRequestVacation()">SEND REQUEST</button>
    </div>
  </form>
</div>
