<div class="billboard br10 ta-c">
  <h2>18</h2>
  <p class="text-big-plus">days available</p>
</div>


<div class="current-user_vacations-request br10">
  <div class="title">
    <p class="text-big text-bold">My Profile</p>
  </div>

  <form [formGroup]="requestVacation">
    <div>
      <label>vacation type</label>
      <br/>
      <select name="vacation_type" formControlName="vacationType">
        <option value="0" selected>Vacation</option>
        <option value="1">University</option>
      </select>
    </div>

    <div>
      <label>comment</label>
      <br/>
      <textarea
        name="message"
        rows="10" cols="30"
        placeholder="Enter your comment here"
        formControlName="vacationComment"
      ></textarea>
    </div>

    <div>
      <label>from</label>
      <br/>
      <input type="date" formControlName="vacationDataFrom">
    </div>

    <div>
      <label>to</label>
      <br/>
      <input type="date" formControlName="vacationDataTo">
    </div>

    <div>
      <label>amount</label>
      <br/>
      <div>
        <p>2</p>
        <p>days in vacation</p>
      </div>
    </div>

    <button class="btn-cancel" (click)="clickCancel()">CANCEL</button>
    <button type="submit" class="btn-standart" (click)="sendRequestVacation()">SEND REQUEST</button>
  </form>
</div>
