.billboard {
  border: 1px solid var(--color-grey);
  background-color: var(--color-darkgrey);
  margin-bottom: 5px;
  padding-top: 35px;
  //height: 200px;
  min-width: 450px;
  background-image: url('/assets/img/billboard.png');
  background-repeat: no-repeat;
  background-position: center;

  & h2 {
    font-size: 46px;
    line-height: 58px;
    font-weight: 800;
  }

  & p {
    margin-bottom: 30px;
  }
}

.current-user_vacations {
  border: 1px solid var(--color-grey);
  background-color: var(--color-darkgrey);

  .title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 30px;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: var(--color-dark);
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead  {
      border-top: 1px solid #878787;
      border-bottom: 1px solid #878787;
      tr th {
        color: var(--color-grey);
      }

    }

    tbody tr th{
      &.dates {}
      &.description {}
      &.status {}
      &.balance {}
    }
  }
}
