<div class="billboard br10 ta-c">
  <h2>18</h2>
  <p class="text-big-plus">days available</p>
</div>


<div class="current-user_vacations-request br10">
  <div class="title">
    <p class="text-big text-bold">My Profile</p>
  </div>

  <form [formGroup]="requestVacation" (ngSubmit)="sendRequestVacation()">
    <div>
      <label>vacation type</label>
      <select name="vacation_type">
        <option value="0" selected>Vacation</option>
        <option value="1">University</option>
      </select>
    </div>

    <div>
      <label>comment</label>
      <textarea name="message" rows="10" cols="30" placeholder="Enter your comment here"></textarea>
    </div>

    <div>
      <label>from</label>
      <input type="date">
    </div>

    <div>
      <label>to</label>
      <input type="date">
    </div>

    <div>
      <label>amount</label>
      <div>
        <p>2</p>
        <p>days in vacation</p>
      </div>
    </div>

    <button class="btn-cancel">CANCEL</button>
    <button type="submit" class="btn-standart">SEND REQUEST</button>
  </form>
</div>
