<div class="billboard br10 ta-c">
  <h2>{{available.days}}</h2>
  <p class="text-big-plus">days available</p>
  <button class="btn-standart" routerLink='/profile/request-vacation/{{available.userId}}'>REQUEST VACATION</button>
</div>


<div class="current-user_vacations br10">
  <div class="title">
    <p class="text-big text-bold">My Profile</p>
  </div>

  <table>
    <thead>
      <tr>
        <th>vacations dates</th>
        <th>descriptions</th>
        <th>status</th>
        <th>vacation balance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="dates text-middle">15 Jun 18 - 20 Jun 2018 </th>
        <th class="description text-middle">Vacation</th>
        <th class="status text-middle approved">Approved</th>
        <th class="balance text-middle">05 days</th>
      </tr>
      <tr>
        <th class="dates text-middle">15 Jun 18 - 20 Jun 2018 </th>
        <th class="description text-middle">University</th>
        <th class="status text-middle approved">Approved</th>
        <th class="balance text-middle">05 days</th>
      </tr>
      <tr>
        <th class="dates text-middle">15 Jun 18 - 20 Jun 2018 </th>
        <th class="description text-middle">Vacation</th>
        <th class="status text-middle denied">Denied</th>
        <th class="balance text-middle">05 days</th>
      </tr>
    </tbody>
  </table>
</div>
