<div class="employee-profile_view br10">
  <div class="title">
    <p class="text-big text-bold">Employee Profile</p>
  </div>

  <!--  <form [formGroup]="editTeamForm">-->
  <div class="employee-block">
    <!--    first group-->
    <div class="block-first">

      <div class="simple-name-block mb-25">
        <img src="/assets/img/user.png">
        <div>
          <p class="text-big">Name</p>
          <p class="text-big">Surname</p>
        </div>
      </div>

      <div class="mb-25">
        <label class="text-small">job title</label>
        <p>Job Title</p>
      </div>
      <div class="mb-25">
        <label class="text-small">status</label>
        <p class="text-middle-plus"><span class="round-green"></span> active</p>
      </div>
      <div class="mb-25">
        <label class="text-small">days in vacation</label>
        <p class="blue-border br5">7</p>
      </div>
    </div>

    <div class="second-block">

      <div class="second-inner">
        <div class="mb-25 width-250">
          <label class="text-small">date of birth</label>
          <p>XX/XX/XX</p>
        </div>
        <div class="mb-25 width-250">
          <label class="text-small">personal mail</label>
          <p>example@mail.com</p>
        </div>
        <div class="mb-25 width-250">
          <label class="text-small">work-email</label>
          <p>example@softheme.com</p>
        </div>
        <div class="mb-25 width-250">
          <label class="text-small">phone number</label>
          <p>+380 00 000 00 00</p>
        </div>
        <div class="mb-25 width-250">
          <label class="text-small">skype</label>
          <p>userskype</p>
        </div>
        <div class="mb-25 width-250">
          <label class="text-small">hire date</label>
          <p>XX/XX/XXXX - Nowadays</p>
        </div>
        <div class="mb-25 width-250">
          <label class="text-small">Team Name</label>
          <p>Team Name</p>
        </div>

      </div>

      <div class="button-block">
        <button class="btn-standart" (click)="close()">CLOSE</button>
      </div>
    </div>
  </div>
</div>
