<nav>
  <ul>
    <li><a class="text-middle-plus" routerLink="/admin/add-employee" routerLinkActive="active-link"><span>Add New Employee</span></a></li>
    <li><a class="text-middle-plus"routerLink="/admin/add-team" routerLinkActive="active-link"><span>Add New Team</span></a></li>
    <li><a class="text-middle-plus"routerLink="/team/vacation-requests" routerLinkActive="active-link"><span>Vacation requests</span></a></li>
    <li><a class="text-middle-plus"routerLink="/team/calendar" routerLinkActive="active-link"><span>Team Calendar</span></a></li>
    <li><a class="text-middle-plus"routerLink="/team/list-employees" routerLinkActive="active-link"><span>List Of Employees</span></a></li>
    <li><a class="text-middle-plus"routerLink="/admin/team-list" routerLinkActive="active-link"><span>List Of Teams</span></a></li>
    <li></li>
  </ul>
</nav>
