<div class="edit-user_request br10">
  <div class="title">
    <p class="text-big text-bold">Add New Team</p>
  </div>

  <form [formGroup]="addTeamForm">
    <!--    first group-->
    <div class="block-first">

      <div>
        <label class="text-small">team name</label>
        <input type="text" placeholder="Enter Team Name" formControlName="teamName">
      </div>
      <div>
        <label class="text-small">team leader</label>
        <input type="text" placeholder="Enter The Name" formControlName="teamLeader">
      </div>
    </div>

    <div class="second-block">
      <div class="block-inner">
        <label class="text-small">members</label>
        <div class="block-with-finding-members br10">
          <div class="single-member">
            <p class="text-small">Vasya Pupkin</p>
            <button class="text-small">x</button>
          </div>
          <div class="single-member">
            <p class="text-small">Vasya Petechkin</p>
            <button class="text-small">x</button>
          </div>
          <div class="single-member">
            <p class="text-small">Diana Rose</p>
            <button class="text-small">x</button>
          </div>
          <div class="single-member">
            <p class="text-small">Diana Rose jdfhgjk dkghdjkfghjkdfhgkh</p>
            <button class="text-small">x</button>
          </div>
          <div class="single-member">
            <p class="text-small">Diana Rose</p>
            <button class="text-small">x</button>
          </div>
          <div class="single-member">
            <p class="text-small">Diana Rose</p>
            <button class="text-small">x</button>
          </div>
        </div>

        <!--          ToDO Input field for finding members-->
        <div>
          <input type="text" placeholder="Enter The Name">
        </div>
      </div>

<!--      ToDo if find members, show this block-->
      <div class="found-members">
        <label class="text-small">found members</label>
<!--        ToDo This is ngFor block-->
        <div>
          <img src="/assets/img/user.png">
          <p>Name Surname</p>
        </div>
        <div>
          <img src="/assets/img/user.png">
          <p>Name Surname</p>
        </div>
      </div>



      <div class="button-block">
        <button class="btn-cancel" (click)="cancel()">CANCEL</button>
        <button type="submit" class="btn-standart" (click)="saveNewTeam()">SAVE</button>
      </div>
    </div>
  </form>
</div>
