@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

:root {
  --color-red: #EA6676;
  --color-blue: #667EEA;
  --color-green: #66EACA;
  --color-lightwhite: #F2F2F2;
  --color-grey: #878787;
  --color-darkgrey: #2E2E2E;;
}

* {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #eeeeee;

  margin: 0px;
  padding: 0px;
}

body {
  background-color: #222222;
}

a {
  text-decoration: none;
  border: none;
  text-align: center;
  padding: 20px;
  width: 200px;
  transition: all 0.3s;
  cursor: pointer;

  :hover {
    padding-left: 10px;
  }

  & span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
  }

  & span:after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.3s;
  }

  &:hover span {
    padding-right: 15px;
    color: var(--color-blue);
  }

  &:hover span:after {
    opacity: 1;
    right: 0;
  }

  &.active-link {
    font-weight: 700;
    color: white;
  }
}

button {
  height: 45px;
  box-sizing: border-box;
  border: 0px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;

  text-align: center;
  text-transform: uppercase;

  &.btn-standart {
    width: 250px;
    color: #FFFFFF;
    background: linear-gradient(270deg, #764BA2 0%, #667EEA 100%);
  }

  &.btn-cancel {
    width: 145px;
    color: #F2F2F2;
    border: 1px solid #878787;
  }
}

//ToDO TEXT BLOCK
.text-small {
  font-size: 12px;
  line-height: 15px;
}

.text-middle {
  font-size: 14px;
  line-height: 18px;
}

.text-middle-plus {
  font-size: 16px;
  line-height: 20px;
}

.text-big {
  font-size: 18px;
  line-height: 23px;
}

.text-big-plus {
  font-size: 20px;
  line-height: 25px;
}

.ta-c {
  text-align: center;
}

.text-bold {
  font-weight: 700;
}

.br5 {
  border-radius: 5px;
}

