@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

:root {
  --color-red: #EA6676;
  --color-blue: #667EEA;
  --color-green: #66EACA;
  --color-lightwhite: #F2F2F2;
}

* {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #eeeeee;

  margin: 0px;
  padding: 0px;
}

body {
  background-color: #222222;
}


button {
  height: 45px;
  box-sizing: border-box;
  border: 0px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;

  text-align: center;
  text-transform: uppercase;

  &.btn-standart {
    width: 250px;
    color: #FFFFFF;
    background: linear-gradient(270deg, #764BA2 0%, #667EEA 100%);
  }

  &.btn-cancel {
    width: 145px;
    color: #F2F2F2;
    border: 1px solid #878787;
  }
}

.text-small {
  font-size: 12px;
  line-height: 15px;
}

.ta-c {
  text-align: center;
}

.br5 {
  border-radius: 5px;
}

