#container {
  height: 100vh;
  width: 100%;

  background-image:url('/assets/img/manuel.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  .inner-container {
    width: 250px;

    .logo-block {
      width: 100%;
      text-align: center;
      padding-bottom: 50px;

      img {
        width: 45px;
        height: 45px;
      }

      h2 {
        font-family: Muli;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        span {
          font-weight: 700;
        }
      }
    }
  }
}
