
<div class="current-user_vacations br10">
  <div class="title">
    <p class="text-big text-bold">List of Vacation Requests</p>
  </div>

  <table>
    <thead>
    <tr>
      <th>name</th>
      <th>team</th>
      <th>vacation dates</th>
      <th>amount of days</th>
      <th>vacation balance</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th class="name text-middle">Name Surname</th>
      <th class="team text-middle">Team Name</th>
      <th class="dates text-middle">15 Jun 18 - 20 Jun 2018 </th>
      <th class="amount text-middle">05 days</th>
      <th class="balance text-middle">05 days</th>
      <th class="x text-middle"><span class="unconfirmed"></span></th>
    </tr>
    <tr>
      <th class="name text-middle">Name Surname</th>
      <th class="team text-middle">Team Name</th>
      <th class="dates text-middle">XX/XX/XX - XX/XX/XX</th>
      <th class="amount text-middle">XX</th>
      <th class="balance text-middle">XX days</th>
      <th class="x text-middle"><span class="unconfirmed"></span></th>
    </tr>
    <tr>
      <th class="name text-middle">Name Surname</th>
      <th class="team text-middle">Team Name</th>
      <th class="dates text-middle">XX/XX/XX - XX/XX/XX</th>
      <th class="amount text-middle">XX</th>
      <th class="balance text-middle">XX days</th>
      <th class="x text-middle"><span class="unconfirmed"></span></th>
    </tr>
    <tr>
      <th class="name text-middle">Name Surname</th>
      <th class="team text-middle">Team Name</th>
      <th class="dates text-middle">XX/XX/XX - XX/XX/XX</th>
      <th class="amount text-middle">XX</th>
      <th class="balance text-middle">XX days</th>
      <th class="x text-middle"><span class="unconfirmed"></span></th>
    </tr>
    <tr>
      <th class="name text-middle">Name Surname</th>
      <th class="team text-middle">Team Name</th>
      <th class="dates text-middle">XX/XX/XX - XX/XX/XX</th>
      <th class="amount text-middle">XX</th>
      <th class="balance text-middle">XX days</th>
      <th class="x text-middle"><span class="unconfirmed"></span></th>
    </tr>
    <tr>
      <th class="name text-middle">Name Surname</th>
      <th class="team text-middle">Team Name</th>
      <th class="dates text-middle">XX/XX/XX - XX/XX/XX</th>
      <th class="amount text-middle">XX</th>
      <th class="balance text-middle">XX days</th>
      <th class="x text-middle"><span class="approve"></span></th>
    </tr>
    <tr>
      <th class="name text-middle">Name Surname</th>
      <th class="team text-middle">Team Name</th>
      <th class="dates text-middle">XX/XX/XX - XX/XX/XX</th>
      <th class="amount text-middle">XX</th>
      <th class="balance text-middle">XX days</th>
      <th class="x text-middle"><span class="approve"></span></th>
    </tr>
    <tr>
      <th class="name text-middle">Name Surname</th>
      <th class="team text-middle">Team Name</th>
      <th class="dates text-middle">XX/XX/XX - XX/XX/XX</th>
      <th class="amount text-middle">XX</th>
      <th class="balance text-middle">XX days</th>
      <th class="x text-middle"><span class="refuse"></span></th>
    </tr>

    </tbody>
  </table>
</div>

<div class="pagination">
  <div class="pagination-url br5">
    <a class="text-middle-plus active" href="#">1</a>
    <a class="text-middle-plus" href="#">2</a>
    <a class="text-middle-plus" href="#">3</a>
    <a class="text-middle-plus" href="#">4</a>
    <a class="text-middle-plus" href="#">5</a>
  </div>

  <div class="next">
    <p class="text-middle">NEXT</p>
    <img src="/assets/img/next.svg">
  </div>
</div>
